autoscan.log
compile
config.log
config.status
configure
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
Makefile
Makefile.in
stamp-h1
src/.deps
src/config.h
src/config.h.in
src/Makefile
src/Makefile.in
src/stamp-h1
code-dream
*.c.txt
*.h.txt
*.o
*~